body {
    background-color: #f3f7fe;
}

.container{
    width: 390px;
    height: 400px;
    padding: 20px;
    padding-top: 20px;
    display:block;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}

.blacklistinput{
    padding-top: 20px;
}

.bltable{
    margin-top: 20px;
}


